input{
    background: rgba(0,0,0,0);
    border:0px solid white;
    color:#000000;
}

-webkit-input-placeholder {
color: #d9d9d9; 
} 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #d9d9d9; 
} 
